@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-dancing: var(--font-dancing-script);

  --color-bg-primary: #D8DFE5;
  --color-bg-secondary: #E6EBEF;
  --color-card-bg: #F6FBFF;
  --color-text-primary: #0e1c29;
  
  --color-ivory: #FCFAF7;
  --color-deep-charcoal: #1A1A1A;
  --color-gold: #C5A059;
  --color-soft-gold: #D4B982;
  --color-muted-grey: #4A4A4A;
}

@layer base {
  body {
    @apply font-sans bg-bg-secondary text-text-primary antialiased transition-colors duration-300;
  }
}

:root {
  --background: #FCFAF7;
  --foreground: #1A1A1A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #FCFAF7;
  }
}